<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Ride Share!</title>
    <link rel="stylesheet" href="css/pages.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  </head>
  <body>
 <script>
  
</script>
  <h1 class ="title"> Ride Share </h1>
  <img src="img/car.png" id="car">
  <form>
  <div class="words" ng-app=""> Username:
  <input type="text" ng-model="username" class="login"> <br><br>
    Password:
  <input type="text" ng-model="password" class="login"> <br><br>
  <button id="logon"> Log in </button> <span style="position:absolute;left:45%;"></span>
  </form>
  </div>
 

  </body>
</html>