<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Ride Share!</title>
    <link rel="stylesheet" href="css/pages.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  </head>
  <body>
  <img src="img/cancel.png" onclick="location.href='profilepage.html'" id="back">
  <h1 class="title">Need a Ride?</h1>
  <div class="listing" ng-app="">
  <span class="word" >*From: <input ng-model="From"></input></span>
<span class="word" id="one" >*To: <input ng-model="To" ></input></span>
 <span class="word" >*Departure Time: <input ng-model="Departure" type="time"></input></span>
<span class="word" id="two">*Arrival Time: <input ng-model="Arrival"  type="time"></input></span>
 <span class="word">*Date: <input ng-model="Date" type="date"></input></span>
<span class="word" id="three">Price: <input ng-model="price"  type="currency"></input></span>
<span class="word">*Passengers: <input ng-model="spot"></input></span>
<span class="word" id="four"><input type="submit" value="submit"  id="makeneed"></input></span>
  </div>





  </body>
</html>