<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Ride Share!</title>
    <link rel="stylesheet" href="css/pages.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  </head>
  <body>
  <img src="img/cancel.png" onclick="location.href='profilepage.html'" id="back">
  <h1 class="title">Offer a Ride</h1>
  <form class="listing" ng-submit="submitOffer()">
  <span class="word" >*From: <input ng-model="offer.from"></input></span>
<span class="word" id="one" >*To: <input ng-model="offer.to" ></input></span>
 <span class="word" >*Departure Time: <input ng-model="offer.departure" type="time"></input></span>
<span class="word" id="two">*Arrival Time: <input ng-model="offer.arrival"  type="time"></input></span>
 <span class="word">*Date: <input ng-model="offer.date" type="date"></input></span>
<span class="word" id="three">Price: <input ng-model="offer.price"  type="currency"></input></span>
<span class="word">*Spots Available: <input ng-model="offer.spot"></input></span>
<span class="word" id="four"><input type="submit" value="submit"  id="makeoffer" ></input></span>
  </form>
  <script>
  function myController($scope){
    $scope.submitOffer=function(){
        /* while compiling form , angular created this object*/
        var data=$scope.offer;  
        /* post to server*/
        $http.post(url, data);        
    }

}
</script>




  </body>
</html>